<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>">
    <% for(var n = 0; n<htmlWebpackPlugin.files.css.length; n++) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[n] %>">
    <% } %>
    <link rel="stylesheet" name="theme" href="">
</head>

<body>
    <div id="app"></div>
    <div class="lock-screen-back" id="lock_screen_back"></div>
    <script src="https://cdn.bootcss.com/echarts/3.7.2/echarts.min.js"></script>
    <% for(var i = 0; i<htmlWebpackPlugin.files.js.length; i++) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
</body>

</html>